.my {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  gap: 15px;
  padding: 5px;

  @media screen and (min-width: 619px) {
    min-width: 500px;
  }

  &__title {
    color: white;
    font-size: 1rem;
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #e67e22;
    font-size: 0.8rem;
    cursor: pointer;

    mat-icon {
      transition: 0.5s;

      &:hover {
        color: white;
      }
    }
  }
}
