<form class="register">
  <h1 class="register__title">Cadastre-se</h1>

  <div class="register__inputs">
    <div class="register__inputs-simple">
      <label for="name">Nome</label>
      <input type="text" />
    </div>

    <div class="register__inputs-simple">
      <label for="email">Email</label>
      <input type="text" />
    </div>

    <div class="register__inputs-password">
      <div class="register__inputs-simple">
        <label for="password">
          Senha
          <img
            src="/assets/{{ iconPassword }}-eye.png"
            class="show-password"
            (click)="toggleVisibility()"
          />
        </label>
        <input type="{{ typeInput }}" />
      </div>
      <div class="register__inputs-simple">
        <label for="password">
          Confirmar senha
          <img
            src="/assets/{{ iconPassword }}-eye.png"
            class="show-password-confirm"
            (click)="toggleVisibility()"
          />
        </label>
        <input type="{{ typeInput }}" />
      </div>
    </div>
  </div>

  <div class="register__confirm">
    <button type="submit" class="register__confirm-btn">Cadastra-se</button>
    <a routerLink="/login" class="register__confirm-login">Login</a>
  </div>
</form>
