<main class="dashboard">
  <h1 class="dashboard__title">
    Olá, <span>{{ name }}</span
    >!
  </h1>

  <form
    *ngIf="!edit"
    class="dashboard__form"
    [formGroup]="newTought"
    (ngSubmit)="createTought()"
  >
    <h2 class="dashboard__form__subtitle">Diga o que está pensando:</h2>

    <div class="dashboard__form__new">
      <input type="text" formControlName="title" />
      <button type="submit">Publicar</button>
    </div>
  </form>

  <form
    *ngIf="edit"
    class="dashboard__form"
    [formGroup]="editTought"
    (ngSubmit)="confirmEdit()"
  >
    <h2 class="dashboard__form__subtitle">Edite seu pensamento:</h2>

    <div class="dashboard__form__new">
      <input type="text" formControlName="title" />
      <button type="submit">Editar</button>
    </div>
  </form>

  <div class="dashboard__user">
    <h2 class="dashboard__user__subtitle" *ngIf="toughts.length !== 0">
      Seus pensamentos:
    </h2>

    <div class="dashboard__user__toughts">
      <app-my-tought
        *ngFor="let tought of toughts"
        [title]="tought.title"
        [id]="tought.id"
        (updateDashboard)="getToughtsDashboard()"
        (flashMessage)="setFlashMessage($event)"
        (edit)="changeTought($event)"
      ></app-my-tought>

      <h1 *ngIf="toughts.length === 0" class="dashboard__user__toughts-empty">
        Sem pensamentos... 😕
      </h1>
    </div>
  </div>
</main>

<app-flash-message
  *ngIf="showMessage"
  [message]="message"
  (showMessage)="showMessage = $event"
></app-flash-message>
