<main class="dashboard">
  <h1 class="dashboard__title">Olá, <span>{{ name }}</span>!</h1>

  <form class="dashboard__form">
    <h2 class="dashboard__form__subtitle">Diga o que está pensando:</h2>

    <div class="dashboard__form__new">
      <input type="text" />
      <button type="submit">Publicar</button>
    </div>
  </form>

  <div class="dashboard__user">
    <h2 class="dashboard__user__subtitle" *ngIf="titles.length !== 0">Seus pensamentos:</h2>

    <div class="dashboard__user__toughts">
      <app-my-tought *ngFor="let title of titles" [title]="title"></app-my-tought>

      <h1 *ngIf="titles.length === 0" class="dashboard__user__toughts-empty">Sem pensamentos... 😕</h1>
    </div>
  </div>
</main>
